@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --menu: 218 28% 15%;
    --menu-foreground: 210 20% 98% ;

    --container: 215 28% 18%;

    --border-hover: 263 60% 60%;

    --background: 215 28% 18%;
    --foreground: 210 20% 98%;

    --card: 218 28% 15%;
    --card-foreground: 210 20% 98%;

    --popover: 215 27.9% 15%;
    --popover-foreground: 210 20% 98%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 25%;
    --secondary-foreground: 210 20% 98%;

    --muted: 217.9 10.6% 64.9%;
    --muted-foreground: 210 20% 98%;

    --accent: 263.4 70% 50.4%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 90.8% 60%;
    --destructive-foreground: 0 90.8% 95%;

    --success: 160 60% 80%;
    --success-foreground: 160 60% 35%;

    --warning: 48 100% 50%;
    --warning-foreground: 34 100% 33%;

    --border: 215 27.9% 22%;
    --input: 215 20% 35%;

    --scrollbar: 217.9 10.6% 30%;
    --scrollbar-track: 218 28% 15%;

    --board: 218 28% 15%;
    --board-title: 218 41% 11%;
    --card-spark: 218 41% 11%;
    --podium: 215 16% 47%;

    --ring: 263.4 70% 50.4%;

    --radius: 0.5rem;
  }

  .light-theme {
    --menu: 218 84% 5.6%;
    --menu-foreground: 210 20% 98% ;

    --container: 0 0% 98%;

    --border-hover: 263 60% 40%;

    --background: 0 0% 98%;
    --foreground: 215 27.9% 10%;

    --card: 0 0% 100%;
    --card-foreground: 215 27.9% 10%;

    --popover: 263 60% 100%;
    --popover-foreground: 215 27.9% 10%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0 0% 75%;
    --secondary-foreground: 215 27.9% 10%;

    --muted: 263 60% 65%;
    --muted-foreground: 263.4 70% 50.4%;

    --accent: 263.4 70% 50.4%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 90.8% 50%;
    --destructive-foreground: 0 90.8% 100%;

    --warning: 48 100% 50%;
    --warning-foreground: 34 100% 33%;

    --success: 160 60% 80%;
    --success-foreground: 160 60% 35%;

    --border: 267 69% 93%;
    --input: 267 69% 83%;

    --scrollbar: 263 60% 95%;
    --scrollbar-track: 217 28% 15%;

    --board: 0 0% 95%;
    --board-title: 217 28% 15%;
    --card-spark: 0 0% 100%;
    --podium: 215 16% 47%;

    --ring: 263.4 70% 50.4%;

    --radius: 0.5rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.login-bg {
  background-image: url("./modules/clarohub/assets/background-login.jpg");
}

/* ------------------------------------- */

/* Fix do shifting do shadcn */

body[data-scroll-locked] {
  min-width: 100%;
}

html {
  overflow-x: hidden;
}

/* ------------------------------------- */

/* Custom Scrollbar */

/* Styling for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: hsl(var(--scrollbar-track));
 
}

/* Styling for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scrollbar));
  border-radius: 6px;
}

/* Styling for the scrollbar track piece */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}

/* Styling for the scrollbar track when active */
::-webkit-scrollbar-track:active {
  /* background-color: hsl(var(--menu)); */
  background-color: transparent;
}
::-webkit-scrollbar-track {
  /* background-color: hsl(var(--menu)); */
  background-color: transparent;
  border-radius: 6px;
}

/* Hide default arrows at the top and bottom of the scrollbar */
::-webkit-scrollbar-button {
  display: none;
}

/* Ensure the scrollbar is always visible */
.scrollable-content {
  overflow-y: scroll;
}

.scrollbar-spark::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
}

.scrollbar-spark::-webkit-scrollbar-thumb {
  background-color: hsl(var(--foreground)/ 0.8);
  filter: brightness(10);
  opacity: 10;
  border-radius: 6px;
}
.scrollbar-spark::-webkit-scrollbar-track-piece {
  background-color:transparent;
}
